# screenlock
light-locker &

# wallpaper
# sh ~/.fehbg &
feh --bg-scale $HOME/.logo/archlinux-black.jpg &

# composite for transparency
# compton -b &
xcompmgr -c &

# urxvt deamon
urxvtd -q -o -f

# fcitx, mozc
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
fcitx-autostart
